.title {
  position: relative;
  &__h1 {
    position: absolute;
    transform: translateX(-47%) translateY(20vw) rotate(-90deg);
    font-size: 7rem;
    text-transform: uppercase;
    font-weight: 300;
    @media screen and (min-width: 280px) and (max-width: 1080px) {
      display: none;
    }
  }
}
